#egan@us.ibm.com
#

lang en_US
langsupport en_US

network --bootproto dhcp 
#network --device=eth1 --bootproto dhcp --mtu=9000

#
# Where's the source?
# nfs --server hostname.of.server or IP --dir /path/to/RH/CD/image
#
#nfs --server #XCATVAR:INSTALL_NFS# --dir #XCATVAR:INSTALL_SRC_DIR#
url --url http://#TABLE:noderes:$NODE:nfsserver#/install/#TABLE:nodetype:$NODE:os#/#TABLE:nodetype:$NODE:arch#

#device ethernet e100
keyboard "us"

#
# Clear the MBR
#
zerombr yes

#
# Wipe out the disk
#
#clearpart --all --initlabel
#clearpart --linux

%include /tmp/part-include

#
# bootloader config
# --append <args>
# --useLilo
# --md5pass <crypted MD5 password for GRUB>
#
bootloader

#
# install or upgrade
#
install


# text mode install (default is graphical)
#
text

#
# firewall
#
firewall --disabled

#
# mouse selection
#
#mouse genericps/2 --emulthree
mouse none

#
# Select a zone
# Add the --utc switch if your hardware clock is set to GMT
#
#timezone US/Hawaii
#timezone US/Pacific
#timezone US/Mountain
#timezone US/Central
timezone US/Eastern
#timezone --utc "#TABLE:site:key=timezone:value#"

#
# Don't do X
#
skipx


#
# To generate an encrypted root password use:
#
# perl -e 'print crypt("blah","Xa") . "\n";'p
# openssl passwd -apr1 -salt xxxxxxxx password
# 
# where "blah" is your root password.
#
#rootpw --iscrypted XaLGAVe1C41x2
#rootpw XaLGAVe1C41x2 --iscrypted
rootpw --iscrypted #CRYPT:passwd:key=system,username=root:password#

#
# NIS setup: auth --enablenis --nisdomain sensenet 
# --nisserver neptune --useshadow --enablemd5
#
# OR
#auth --useshadow --enablemd5
auth --useshadow --enablenis --nisdomain gcnisdom --nisserver nis1 --enablemd5

#
# SE Linux
#
selinux --disabled

#
# Reboot after installation
#
reboot

#
#end of section
#
%packages --resolvedeps
@ Base
tcsh
sed
mailx
%pre
#INCLUDE:../scripts/broad.partTable#
#INCLUDE:../scripts/pre.rh#
%post
exec < /dev/tty3 > /dev/tty3
chvt 3
echo 
echo "################################"
echo "# Running Post Configuration   #"
echo "#  			     #"
echo "# Tail /var/log/postBuild.log  #"
echo "# for further details	     #"
echo "################################"
(
#INCLUDE:../scripts/farm.xcat.post#
#INCLUDE:../scripts/farm.broad.post#
) &> /var/log/postBuild.log
chvt 1
